.btn h6 {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container button {
  border-radius: 10px;
  background-color: #00285f;
  width: 174px;
  height: 40px;
}

.btn-back-container {
  border-radius: 10px;
  margin-top: 15px;
}

.btn-text-container span {
  font-size: 18px;
  color: #585858;
}

@media (min-width: 576px) {
  .btn h6 {
    font-size: 18px;
  }
  .btn-icon-container {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 768px) {
  .btn-container {
    display: flex;
  }
}
